@{
    ViewData["Title"] = "About";
}
<h2>John Moore</h2>
<h3>AECI</h3>
<address>
    2814 S Golden<br />
    Springfield, MO 65807<br />
    <abbr title="Phone">P:</abbr>
    417-881-1204
</address>

<p>What can I say, I'm a really cool guy and you all know that you want to come work at AECI to experience the awesome work environment and culture.</p>
<br />
<address>
    <strong>Email:</strong> <a href="mailto:jmoore@aeci.org">jmoore@aeci.org</a><br />    
</address>

<a href="https://www.linkedin.com/pub/john-moore/48/293/6a7">

    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View John Moore's profile on LinkedIn">

</a>
<br />

<a href="https://twitter.com/jcwmoore" class="twitter-follow-button" data-show-count="false">Follow @@jcwmoore</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>