@{
    ViewData["Title"] = "Home Page";
}
<h1>Nothing to see here.</h1>
<p>Make a selection.</p>
<p>Here's a Presentation: <a href="https://github.com/jcwmoore/Aitp/blob/master/AITP.pptx">https://github.com/jcwmoore/Aitp/blob/master/AITP.pptx</a></p>
